/* 6 columns, 7 rows */

/* Universal Styles */
* {
    list-style: none;
    font-family: 'Playfair Display', serif;
    padding-inline-start: 0px;
    margin: 0px;
    font-weight: 400;
    grid-gap: 1%;
}
body {
    display: flex;
    flex-flow: column nowrap;
    flex: auto;
    justify-content: center;
    align-items: center;
    background-color: #c7b198;
}
a {
    text-decoration: none;
    color: white;
}
a:hover {
    text-decoration: underline;
}
button {
    cursor: pointer;
    color: #c7b198;
    background-color: #fff;
    border-color: #fff;
    font-size: 16px;
    padding: 15px 23px;
}
#color-one {
    background-color:#596e79;
    color: white;
    width: 100%;
    height: fit-content;
}
#color-two {
    background-color: #f5efef;
    color: black;
    width: 100%;
    height: fit-content;
}
#color-three {
    color: white;
    width: 100%;
    height: fit-content;
}
#color-four {
    width: 100%;
    background-color:#596e79;
    color: white;
}

/* Navigation */
nav {
    height: 130px;
    width: 90%;
    display: flex;
    flex: auto;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    color: white;
}
#nav-links {
    font-size: 20px;
    width: 150px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
h1 {
    font-size: 40px;
    letter-spacing: 4px;
}

/* Hero */
#hero-section {
    width: 70%;
    display: grid;
    grid-template: 175px repeat(2, 1fr) /repeat(2, 1fr) ;
    grid-template-areas: 
    "sentence sentence"
    "mission mission-description"
    "tools tools-description"
    ;
    font-size: 30px;
    grid-row-gap: 5%;
    color: white;
    margin: 30px 0px;
}
#hero-sentence {
    grid-area: sentence;
    font-size: 50px;
    font-weight: 400;
}
#mission {
    grid-area: mission;
}
#mission-description {
    grid-area: mission-description;
}
#tools {
    grid-area: tools;
}
#tools-description {
    grid-area: tools-description;
    font-size: 25px;
    display: flex;
    flex-flow: row wrap;
    flex: auto;
    justify-content: start;
    text-align: left;
}
div {
    width: 50%;
}

/* Projects */
.grid-container {
    font-size: 30px;
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(2, 1fr);
    padding: 100px 0px;
    width: 70%;
    margin: auto;
}
.project-list {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
}
.project-image {
    width: 75%;
    min-width: 350px;
    height: auto;
    justify-self: start;
    align-self: center;
}

/* Fitness Project */
#fitness-project {
    grid-template-areas: 
    "fitness-title fitness-highlight"
    "fitness-image fitness-list"
    "fitness-image fitness-list"
    ;
}
#fitness-title {
    grid-area: fitness-title;
}
#fitness-image {
    grid-area: fitness-image;
}
#fitness-highlight {
    grid-area: fitness-highlight;
}
#fitness-list {
    grid-area: fitness-list;
}

/* Restaurant Project */
#restaurant-project {
    grid-template-areas: 
    "restaurant-title restaurant-highlight"
    "restaurant-image restaurant-list"
    "restaurant-image restaurant-list"
    ;
}
#restaurant-title {
    grid-area: restaurant-title;
}
#restaurant-image {
    grid-area: restaurant-image;
}
#restaurant-highlight {
    grid-area: restaurant-highlight;
}
#restaurant-list {
    grid-area: restaurant-list;
}

/* Coffee Shop Project */
#coffee-project {
    grid-template-areas: 
    "coffee-title coffee-highlight"
    "coffee-image coffee-list"
    "coffee-image coffee-list"
    ;
}
#coffee-title {
    grid-area: coffee-title;
}
#coffee-image {
    grid-area: coffee-image;
}
#coffee-highlight {
    grid-area: coffee-highlight;
}
#coffee-list {
    grid-area: coffee-list;
}

/* footer */
#footer-section {
    height: 300px;
    color: white;
    grid-template-areas: 
    "title title"
    "cta list"
    "cta list"
    ;
}
#connect-statement {
    grid-area: title;
}
#connect-subtext {
    grid-area: cta;
}
#about-list {
    grid-area: list;
}
