/* 6 columns, 7 rows */

/* Universal Styles */
* {
    list-style: none;
    font-family: 'Playfair Display', serif;
    padding-inline-start: 0px;
    margin: 0px;
    font-weight: 400;
    grid-gap: 1%;
}
body {
    display: flex;
    flex-flow: column nowrap;
    flex: auto;
    justify-content: center;
    align-items: center;
    background-color: #c7b198;
}
a {
    text-decoration: none;
    color: white;
}
a:hover {
    text-decoration: underline;
}
button {
    cursor: pointer;
    color: #c7b198;
    background-color: #fff;
    border-color: #fff;
    font-size: 16px;
    padding: 15px 23px;
}
#color-one {
    background-color:#596e79;
    color: white;
    width: 100%;
    height: fit-content;
}
#color-two {
    background-color: #f5efef;
    color: black;
    width: 100%;
    height: fit-content;
}
#color-three {
    color: white;
    width: 100%;
    height: fit-content;
}
#color-four {
    width: 100%;
    background-color:#596e79;
    color: white;
}

/* Navigation */
nav {
    height: 130px;
    width: 90%;
    display: flex;
    flex: auto;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    color: white;
}
#nav-links {
    font-size: 20px;
    width: 180px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
h1 {
    font-size: 40px;
    letter-spacing: 4px;
}
#nav-button-link {
    color: inherit;
}

/* Hero */
#hero-section {
    width: 70%;
    display: grid;
    grid-template: 175px repeat(2, 1fr) /repeat(2, 1fr) ;
    grid-template-areas: 
    "sentence sentence"
    "mission mission-description"
    "tools tools-description"
    ;
    font-size: 30px;
    grid-row-gap: 5%;
    color: white;
    margin: 30px 0px;
}
#hero-sentence {
    grid-area: sentence;
    font-size: 50px;
    font-weight: 400;
}
#mission {
    grid-area: mission;
}
#mission-description {
    grid-area: mission-description;
}
#tools {
    grid-area: tools;
}
#tools-description {
    grid-area: tools-description;
    font-size: 25px;
    display: flex;
    flex-flow: row wrap;
    flex: auto;
    justify-content: start;
    text-align: left;
}
div {
    width: 50%;
}

/* Projects */
.grid-container {
    font-size: 30px;
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(2, 1fr);
    padding: 100px 0px;
    width: 80%;
    margin: auto;
}
.project-highlight, .project-title {
    align-self: end;
    padding-bottom: 20px;
}
.project-list {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
}
.project-image {
    width: 75%;
    min-width: 350px;
    height: auto;
    justify-self: start;
    align-self: center;
}
.project-button {
    font-size: 24px;
    background-color: gray;
    color: black;
    height: 35%;
    width: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    border-radius: 12px;
    border: none;
}

/* Fitness Project */
#fitness-project {
    grid-template-areas: 
    "fitness-title fitness-highlight"
    "fitness-image fitness-list"
    "fitness-button fitness-list"
    ;
}
#fitness-title {
    grid-area: fitness-title;
}
#fitness-image {
    grid-area: fitness-image;
}
#fitness-highlight {
    grid-area: fitness-highlight;
}
#fitness-list {
    grid-area: fitness-list;
}
#fitness-button {
    grid-area: fitness-button;
}

/* Restaurant Project */
#restaurant-project {
    grid-template-areas: 
    "restaurant-title restaurant-highlight"
    "restaurant-image restaurant-list"
    "restaurant-button restaurant-list"
    ;
}
#restaurant-title {
    grid-area: restaurant-title;
}
#restaurant-image {
    grid-area: restaurant-image;
}
#restaurant-highlight {
    grid-area: restaurant-highlight;
}
#restaurant-list {
    grid-area: restaurant-list;
}
#restaurant-button {
    grid-area: restaurant-button;
}

/* Coffee Shop Project */
#coffee-project {
    grid-template-areas: 
    "coffee-title coffee-highlight"
    "coffee-image coffee-list"
    "coffee-button coffee-list"
    ;
}
#coffee-title {
    grid-area: coffee-title;
}
#coffee-image {
    grid-area: coffee-image;
}
#coffee-highlight {
    grid-area: coffee-highlight;
}
#coffee-list {
    grid-area: coffee-list;
}
#coffee-button {
    grid-area: coffee-button;
}

/* footer */
#footer-section {
    height: auto;
    color: white;
    grid-template-areas: 
    "title title"
    "text list"
    "text list"
    ;
}
#footer-title {
    grid-area: title;
    font-size: 40px;
}
#about-subtext {
    grid-area: text;
    font-size: 2rem;
    line-height: 55px;
}
#about-list {
    grid-area: list;
    justify-self: end;
}
span {
    font-size: 40px;
    height: fit-content;
}
#about-list a {
    padding: 0px 7px;
}

/* Tablet */
@media screen and (max-width: 1100px) {
    #hero-section {
        margin: 0px;
    }
    .grid-container {
        height: fit-content;
        display: flex;
        flex-flow: column nowrap;
        flex: auto;
        justify-content: space-between;
    }
    .project-image {
        width: 100%;
    }
    .project-button {
        margin: 30px 0px;
        height: fit-content;
    }
    .project-list {
        text-align: center;
    }
    #about-list {
        display: flex;
        flex-flow: row nowrap;
        width: 40%;
        margin: auto;
        justify-content: center;
        padding-top: 50px;
    }
    .project-highlight, .project-title {
        align-self: center;
    }
    #about-subtext {
        text-align: center;
    }
    #footer-section {
        height: fit-content;
    }
}

/* Mobile */
@media screen and (max-width: 670px) {
    nav {
        flex-flow: column-reverse nowrap;
        justify-content: space-between;
        height: auto;
    }
    #hero-section {
        display: flex;
        height: fit-content;
        flex-flow: column nowrap;
        margin: 0px;
    }
    #hero-sentence, #mission-description {
        padding-bottom: 30px;
    }
    #mission, #tools {
        padding-bottom: 15px;
    }
    #tools-description {
        width: fit-content;
    }
    nav button {
        visibility: hidden;
    }
    .grid-container {
        padding: 50px 0px;
        height: fit-content;
    }
    .project-image {
        margin: auto;
    }
    .project-highlight, li {
        margin: 5px 0px;
    }
    #about-list a {
        width: unset;
        padding: 0px 7px;
    }
}