#blog-hero {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    height: 600px;
    border: 1px solid grey;
    padding: 5%;
}
#hero-headline {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}
#hero-headline > h2 {
    font-size: 5rem;
    text-align: left;
}
#featured-description {
    font-size: 1.25rem;
    color: gray;
    text-align: inherit;
}

#hero-articles {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.hero-listing {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    border-bottom: solid 1px black;
    padding-bottom: 30px;
}
.hero-listing > h4 {
    text-align: left;
}
.hero-listing > p {
    color: #9bba66;
    font-size: .75rem;
    font-weight: bold;
}

section#inspiration {
    height: 800px;
}