#blog-hero {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    background-color: darkolivegreen;
    height: 800px;
}
#hero-headline {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30%;
    text-align: left;
}
#featured-post {
    display: flex;
    padding: 5px;
    justify-content: flex-start;
    border-radius: 30px;
    background-color: gray;
    color: white;
}
#featured-post > span {
    background-color: white;
    color: black;
    font-size: .7rem;
    width: 12%;
    margin-right: 10%;
    border-radius: inherit;
    padding: 2px;
}
#hero-headline > h2 {
    font-size: 5rem;
    text-align: left;
    margin: 10px;
}
#featured-description {
    color: lightgray;
    text-align: inherit;
}

#hero-art {
    width: 40%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    background-image: url('https://images.unsplash.com/photo-1504812533430-d76f0058aff2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=928&q=80');
    background-position: center;
    background-size: cover;
}
#hero-art > p {
    text-align: left;
    width: 40%;
    background: black;
    padding: 15px 65px 15px 10px;
    margin: auto 50% 0px 0px;
}

#hero-articles {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.hero-listing {
    height: fit-content;
    margin: 5%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-bottom: solid 3px white;
    padding-bottom: 30px;
}
.hero-listing > h4 {
    text-align: left;
}
.hero-listing > p {
    font-size: .75rem;
    font-weight: bold;
}