#blog-hero {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    height: 600px;
    border: 1px solid grey;
    padding: 5%;
}
#hero-headline {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}
#hero-headline > h2 {
    font-size: 5rem;
    text-align: left;
}
#featured-description {
    font-size: 1.25rem;
    color: gray;
    text-align: inherit;
}

#hero-articles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}
.post-title {
    text-align: left;
}
.hero-listing {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    border-bottom: solid 1px black;
    padding-bottom: 30px;
}
.hero-listing > h4 {
    text-align: left;
}
.hero-listing > p {
    color: #9bba66;
    font-size: .75rem;
    font-weight: bold;
}

section#recent-posts {
    height: 400px;
    margin: 50px auto;
    padding: 10%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
}
article.blog-listing {
    background-color: lightgray;
    border: 1px solid blue;
    border-radius: 4px;
    margin: auto 30px;
}
.blog-image {
    max-width: 90%;
}
.blog-title {
    font-size: 1.25rem;
}
.blog-listing > p {
    color: inherit;
    width: 60%;
    margin: auto;
}

section#inspiration {
    height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5%;
    margin: 50px auto;
}
#inspiration > h4 {
    text-align: left;
    font-size: 2rem;
    margin-right: 70%;
}
#inspiration > h3 {
    font-size: 7rem;
}
#inspiration > p {
    color: black;
}