/* Universal */
    * { 
        font-family: sans-serif;
        font-weight: 500;
        font-size: 16px;
        text-align: center;
        list-style: none;
        color: rgb(30, 57, 50);
        flex-wrap: nowrap;
        flex-shrink: 1;
    }
    body {
        margin: .5px;
    }
    a, .link {
        text-decoration: none;
        color: inherit;
        font-size: inherit;
        background-color: inherit;
        font-weight: inherit;
    }
    ul {
        padding: 5px 5px;
    }
    li {
        line-height: 35px;
    }
    .button {
        color: white;
        background-color: #3F8E00;
        padding: 7px 16px;
        font-size: 1.25rem;
        border: none;
    }
    .button:hover {
        background-color: black;
        color: white;
    }
    .underline {
        border-bottom: 1px solid rgb(30, 57, 50);
        padding: 1.5px;
    }
    .underline:hover {
        text-decoration: none;
    }
/* Nav */
    header {
        height: max-content;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .header-nav {
        width: 550px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    #nav-one {
        width: 800px;
        font-size: 1.25rem;
    }
    h1 {
        font-size: 2rem;
        padding: 0rem .5rem;
    }
    #header-pin {
        font-size: 1rem;
    }
    .header-button {
        font-size: inherit;
        background-color: gainsboro;
        color: black;
        border-radius: 15px;
    }
    #book-button {
        background-color: darkslategrey;
        color: white;
    }
    #book-button:hover {
        background-color: #3F8E00;
    }
    #nav-link {
        padding: 0px 13px;
        width: fit-content;
    }
    #nav-two {
        justify-content: space-evenly;
    }
    .navbar-links ul {
        display: flex;
        flex-flow: row nowrap;
    }
    .navbar-links ul li {
        padding-right: 3rem;
    }
    .toggle {
        position: absolute;
        top: 2.5rem;
        right: 2rem;
        display: none;
        flex-direction: column;
        justify-content: space-between;
        width: 30px;
        height: 21px;
    }
    .toggle .line {
        height: 3px;
        width: 100%;
        background-color: black;
        border-radius: 10px;   
    }
    .responsive-links {
        display: none;
        margin: 0;
        padding: 0;
    }
    .link a {
        display: block;
        padding: 1rem;
    }
    /* Nav - Mobile */
        @media (max-width: 1150px) {
            #nav-two {
                display: none;
            }
            #nav-one {
                background-color: lightgray;
                width: 100%;
                flex-direction: column;
                padding-bottom: 10px;
            }
            .toggle {
                display: flex;
            }   
            .navbar-links ul {
                width: 100%;
                flex-direction: column;
                justify-content: space-between;
                margin: 0px;
                padding: 0px;
            }
            .link a {
                width: 100%;
                text-align: center;
            }
            .link a {
                padding: .5rem 1rem;
            }
            .navbar-links {
                display: none;
            }
            .navbar-links ul li {
                padding: 2px 0px;
            }
            .navbar-links ul li:hover {
                background-color: rgb(184, 184, 184);
            }
            .navbar-links.open {
                display: flex;
                width: 100%;
                font-size: 22px;
            }
        }

/* Hero */
    #hero {
        background-image: url('https://images.unsplash.com/photo-1510915228340-29c85a43dcfe?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80');
        background-size: cover;
        opacity: .9;
        display: flex;
        flex-direction: column;
        color: white;
        height: 600px;
        width: 100%;
        justify-content: center;
        align-items: flex-start;
    }
    .hero-text {
        color: inherit;
        margin-left: 70px;
    }
    #hero-maintext {
        font-size: 50px;
        margin-bottom: 5px;
        padding-left: 0;
    }
    #hero-subtext {
        font-size: 1.20rem;
    }
    #hero-button {
        font-size: 1.45rem;
        padding: 10px 25px;
        border-radius: 5px;
        margin-top: 15px;
    }

/* Projects */
    #projects-section {
        background-color: white;
        color: black;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 50px auto;
    }
    #projects-section > h2 {
        font-size: 2.25rem;
        margin: 10px;
    }
    #projects-section > p {
        color: inherit;
        margin-bottom: 30px;
        font-size: 1.3rem;
    }
    .project-card {
        margin: auto 40px;
        width: 500px;
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
    .project-tag {
        font-size: .75rem;
        background-color: linen;
        color: black;
        padding: 7px 25px;
        border-radius: 15px;
        margin: 15px 0px;
    }
    #custom-site-tag, #aly-btn {
        background-color: #FFF6E9;
        color: #FFA217;
    }
    #wordpress-tag, #rwt-btn {
        background-color: #D0E6FF;
        color: #000AFF;
    }
    .project-card > img {
        height: 300px;
        max-width: 450px;
        border-radius: 10px;
    }
    .project-heading {
        height: 30px;
        font-size: 24px;
        color: black;
        margin: 10px 0px;
    }
    .project-description {
        color: #9C9C9C;
        text-align: left;
        margin: 7px 0px;
    }
    .project-card > .button {
        font-size: .9rem;
        margin: 10px 0px;
        font-weight: bold;
    }

/* Bottom Image */
    #msp {
        width: 100%;
        background-image: url("https://images.unsplash.com/photo-1585168121124-bc4c43c0251b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80");
        background-size: cover;
        object-fit: cover;
        object-position: top;
        height: 500px;
    }
/* Footer */
    footer {
        background-color: rgb(56,56,59);
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    footer > h2, label, p {
        color: white;
    }
    footer > h2 {
        font-size: 2.25rem;
    }
    form {
        align-self: center;
        display: grid;
        grid-template-columns: 100%;
        grid-template-areas: 
        "name"
        "name-in"
        "email"
        "email-in"
        "message"
        "message-in"
        "button"
        ;
    }
    input, textarea {
        max-width: 800px;
        border-radius: 4px;
        padding: 2%;
        text-align: left;
    }
    label {
        text-align: left;
        font-size: 1.15rem;
        margin: 15px 1px;
    }
    #n-label {
        grid-area: name;
    }
    #user-name {
        grid-area: name-in;
    }
    #e-label {
        grid-area: email;
    }
    #user-email {
        grid-area: email-in;
    }
    #m-label {
        grid-area: message;
    }
    #user-message {
        grid-area: message-in;
    }
    #submit {
        grid-area: button;
        width: 100%;
        height: 50px;
        margin: 15px 0px;
    }

/* Media Query */    
    @media (max-width: 800px) {
        #hero {
            justify-items: center;
        }
        #nav-one {
            justify-content: center;
            align-items: flex-start;
        }
        #nav-one > h1 {
            width: 60%;
            font-size: 25px;
            margin-right: 20px;
        }
        #covid-message {
            margin-top: 20px;
        }
        .featured-container, .ad-container, footer, aside {
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: center;
            flex: auto;
            padding: 15px 5px;
        }
        .featured-image {
            height: 50%;
            width: 100%;
            padding: 10px 0px;
        }
        aside {
            padding-top: 125px;
        }
        .end-list {
            padding-top: 150px;
        }
    }