/* Universal */
* {
    text-decoration: none;
    font-family: "Oswald", sans-serif;
    margin: unset;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}
a {
    color: inherit;
}
ul,li, a {
    list-style: none;
    text-decoration: none;
}
body {
    background-color: rgb(236, 234, 234);
}

/* Header Section */
header {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    background-image: url(hero-background.jpg);
    background-size: cover;
}
nav {
    position: fixed;
    top: 0%;
    left: 0%;
    height: 100px;
    width: 100%;
    display: flex;
    flex: none;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    background: rgba(255, 255, 255, 0.877);
    opacity: 0.8;
}
.nav-item:hover {
    text-decoration: underline;
}
nav ul, footer > .footer-nav {
    display: flex;
    width: 300px;
    justify-content: space-evenly;
    font-size: 1.5rem;
    padding: unset;
}
ul,li {
    list-style: none;
    text-decoration: none;
}
#title {
    font-size: 3rem;
}
#nav-links {
    width: 30%;
}
#nav-social-icons {
    width: 15%;
}
.fab {
    font-size: 2.5rem;
}
h2.mission {
    color: white;
    font-size: 4rem;
    text-align: center;
}
#arrow {
    position: relative;
    font-size: 4rem;
    background: none;
    color: white;
    border: none;
}

/* Project Section */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
main > h1 {
    padding: 30px 0px;
}
#project-section {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    flex: none;
}
.project-card {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: flex-start;
    margin: 50px 0px;
    padding-bottom: 25px;
    background-color: white;
    border-radius: 6%;
}
.image {
    width: 500px;
    height: 500px;
    min-width: 100px;
    min-height: 100px;
}
h4.title {
    font-size: 2rem;
    margin-top: 5px;
}
.project-description {
    padding: 30px 0px;
    font-size: 1.45rem;
}
.button {
    font-size: 22px;
    padding: 7px 16px;
    border-radius: 50px;
    color: white;
    background-color: black;
}
.button:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}

#html {
    background-image: url(./html.png);
}
#css {
    background-image: url(./css.png);
}
#js {
    background-image: url(./js.png);
}

/* About Section */
#about {
    margin-top: 50px;
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card {
    width: 50%;
    min-width: 500px;
    padding-bottom: 20px;
    border-radius: 4%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: auto;
    background-color: white;
    text-align: center;
    align-items: center;
}
.about-picture {
    height: auto;
    width: 100%;
}
.about-div > h4 {
    margin-top: 10px;
    font-size: 2.5rem;
}
.about-div {
    font-size: 1.8rem;
    width: 80%;
}
#about-paragraph {
    padding: 20px 0px;
}
#about-list {
    padding: 35px 0px;
}

/* Footer */
footer {
    font-size: 1.4rem;
    margin-top: 50px;
    background-color: rgb(56,56,59);
    color: white;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    height: 300px;
}
footer article {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}
footer article > h5 {
    font-size: 2rem;
}
ul li a.footer {
    font-size: 4rem;
    color: lightgray;
}
.footer-list {
    color: lightgray;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 250px;
    padding: unset;
}
#footer-nav {
    margin-top: 40px;
    font-size: 1.2rem;
}
#footer-nav > li a {
    color: inherit;
}
footer article > p {
    text-align: center;
    margin-top: 30px;
}

/* Mobile */

@media (max-width: 860px) {
    /* Header */
    * {
        text-align: center;
        font-size: 16px;
    }
    header {
        height: 600px;
    }
    nav {
        flex-flow: column nowrap;
        justify-content: space-evenly;
    }
    #nav-social-icons {
        display: none;
    }
    #nav-links {
        width: 100%;
    }
    #title {
        font-size: 2.5rem;
    }
    h2.mission {
        font-size: 2rem;
    }

    /* Projects */
    main h1 {
        font-size: 25px;
    }
    .project-card {
        margin: 30px 10px;
        border-radius: 0%;
        height: auto;
    }

    /* About */
    #about {
        font-size: 12px;
    }
    .about-div {
        width: 70%;
        font-size: 13px;
    }

    /* Footer */
    footer {
        height: 200px;
        font-size: 14px;
    }
    ul li a.footer {
        font-size: 45px;
    }
}